{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Jobs list</h1>

        <div id="jobs"></div>

        <div id="form-div">
            <input id="input_job_name" type="text">
            <input type="button" value="Add Job" onclick="createJob(um)">
            <span id="form"></span>
        </div>
    </div>
    {% block javascript %}
        <script>
            let urlNew = "{{ path('job_new') }}";
            let urlList = "{{ path('job_list') }}";

            let um = new UrlManager(urlNew,urlList);

            document.addEventListener("DOMContentLoaded", function(event) {
                jobManager.loadJobs(um);
            });
        </script>
    {% endblock %}
{% endblock %}
