<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td><a href="#">{{ job.id }}</a></td>
            <td>{{ job.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>